/*
    Fonts
*/

@font-face {
  font-family: EncodeSans-Regular;
  src: url("/CSS/fonts/EncodeSans-Regular.ttf");
}

@font-face {
  font-family: EncodeSans-Medium;
  src: url("/CSS/fonts/EncodeSans-Medium.ttf");
}

@font-face {
  font-family: EncodeSans-SemiBold;
  src: url("/CSS/fonts/EncodeSans-SemiBold.ttf");
}

/*
    Body
*/

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  font-family: EncodeSans-Regular, sans-serif;
  max-width: 1250px;
}

/*
    Header
*/

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0px;
}

.header-icons {
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  border-top: solid 1px #ebedef;
  border-bottom: solid 1px #ebedef;
}

/*
    Main
*/

main {
  display: flex;
}

/*
   Container Left
*/

.container-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55%;
}

/* Container Title*/

.container-title {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  border-bottom: solid 1px #ebedef;
}

.title-text-1 {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #303134;
  margin: 35px 0px 10px;
}

.title-text-2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  color: #303134;
  margin-bottom: 20px;
}

/* Container Notice*/

.container-notice {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.notice-card {
  width: 193px;
  height: 282px;
}

.imagens-left {
  width: 193px;
  height: 110px;
  border-radius: 12px;
}

.card-title {
  font-family: EncodeSans-Medium;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #c4170c;
  margin: 10px 0px;
}
.card-text {
  font-family: EncodeSans-Medium;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: #2f3134;
  margin-top: 10px;
}
/*
   Container Right
*/

.container-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  margin-top: 20px;
}

/* Container News*/

.container-news {
  display: flex;
}

.column-left {
  margin-right: 60px;
  border-left: 1px solid #ebedef;
  border-right: 1px solid #ebedef;
}

.news-card {
  width: 240px;
  height: auto;
  margin-bottom: 40px;
}

.imagens-right {
  width: 240px;
  height: 128px;
  border-radius: 12px;
}

/*
    Utilitários
*/

.red {
  color: rgba(205, 21, 11, 1);
}

.green {
  color: #16ae54;
}

.orange {
  color: #ec8006;
}

.margin-top {
  margin-top: 50px;
}

.semibold {
  font-family: EncodeSans-SemiBold;
  font-size: 18px;
  line-height: 25px;
}

h1 {
  font-size: 52px;
  line-height: 67px;
  font-family: EncodeSans-SemiBold;
  color: #c4160c;
  font-weight: 700;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  font-family: EncodeSans-SemiBold;
  color: rgba(47, 49, 52, 1);
}

a {
  text-decoration: none;
  transition: 0.4;
}

a:hover {
  opacity: 0.7;
}

/* 
  Media query
*/

@media (min-width: 375px) {
  .mobile-container {
    display: none;
  }
}

@media (max-width: 375px) {
  main,
  header {
    display: none;
  }

  .mobile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 375px;
    padding: 10px;
  }

  .mobile-icons {
    border-top: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6;
    margin-top: 25px;
  }

  .mobile-title {
    font-family: EncodeSans-SemiBold;
    font-size: 32px;
    line-height: 40px;
    margin: 25px 0px;
  }

  .mobile-subtitle {
    font-family: EncodeSans-Medium;
    font-size: 18px;
    line-height: 25px;
  }

  .mobile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 25px 0px;
  }
  .card-image-link {
    display: flex;
  }

  .card-text-link {
    font-size: 16px;
    line-height: 19px;
    margin-top: 15px;
    margin-right: auto;
    font-family: EncodeSans-Regular;
  }

  .mobile-card-title {
    font-family: EncodeSans-SemiBold;
    font-size: 18px;
    line-height: 25px;
    margin-left: 10px;
  }

  .li-title a {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: rgba(205, 21, 11, 1);
  }

  .li-subtitle {
    margin: 10px 0px 35px;
  }

  .li-subtitle a {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(205, 21, 11, 1);
  }

  .green-title {
    font-size: 18px;
    line-height: 25px;
    font-family: EncodeSans-Medium;
    margin: 20px 0px;
  }

  .green-subtitle {
    font-size: 16px;
    line-height: 19px;
    font-family: EncodeSans-Regular;
    margin-bottom: 10px;
  }

  .li-orange {
    margin: 15px 0px;
  }

  .li-orange a {
    color: #ec8006;
  }
}
